@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: landscape;
    margin: 0;
  }

  body,
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Ensure the container fits or scales if necessary */
  #root {
    width: 100%;
    height: 100%;
  }
}